.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.planet-list {
    list-style: none;
    padding: 0;
}

.planet-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.planet-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.planet-info {
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    background-color: beige;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.page-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.link {
    margin-top: 10px;
    text-decoration: none;
    color: blue;
  }
  